/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Exemplo com a fonte Poppins */
  font-size: 16px; /* Garanta que o tamanho da fonte seja consistente */
  background-color: #000000; /* Fundo preto */
  color: #00b3ff;
}

.App {
  text-align: center;
}

/* Hero Section */
.hero {
  height: 100vh; /* Ocupa toda a altura da tela */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000; /* Fundo preto */
  color: #ffffff;
  position: relative;
}

/* Logo */
.animated-logo {
  width: 300px; /* Tamanho do logo */
  margin-bottom: 20px; /* Espaço entre o logo e o botão */
}

/* Botão Contêiner */
.cta-container {
  font-family: 'Poppins', sans-serif; /* Exemplo com a fonte Poppins */
  font-size: 5px; /* Garanta que o tamanho da fonte seja consistente */
  position: absolute;
  bottom: -20px; /* Posiciona o botão logo na divisão da seção */
  width: 100%;
  text-align: center;
}

/* Botão */
.sliding-button {
  padding: 15px 30px;
  background-color: #00080c;
  color: #00b3ff;
  border: 2px solid #00b3ff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px; /* Altere este valor para ajustar o tamanho da fonte */
  cursor: pointer;
  transition: all 0.3s ease;
}


/* Hover no botão */
.sliding-button:hover {
  background-color: #00b3ff;
  color: #000000;
}

/* Sobre Nós Section */
.about-section {
  padding: 80px 20px;
  background-color: #00b3ff; /* Fundo azul */
  color: #ffffff; /* Texto branco */
  text-align: center;
}

.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

/* Seção de Contato */
.contact-section {
  padding: 80px 20px;
  background-color: #000000; /* Fundo preto */
  color: #00b3ff; /* Texto azul */
  text-align: center;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff; /* Fundo branco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container input,
.form-container textarea {
  font-family: 'Poppins', sans-serif; 
  font-size: 16px;
  width: 100%;
  padding: px;
  margin-bottom: 10px;
  border: 2px solid #00b3ff;
  border-radius: 5px;
  font-size: 16px;
  color: #00b3ff;
}

.form-container button {
  width: 100%;
  padding: 15px;
  background-color: #00b3ff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-container button:hover {
  background-color: #007acc; /* Azul escuro ao passar o mouse */
}
